<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luciana Lucero Franco</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Mi nombre es Luciana Lucero Franco y siempre estoy escuchando música, no importa 
                cuando leas esto. Me gusta estar en movimiento, salir a correr, andar en bici, o 
                cualquier deporte aunque sea mala en ello. Estoy buscando mi lugar en el mundo y es 
                por eso que me encuentro estudiando muchas cosas, programación, diseño de Experiencia 
                de Usuario (UX) y también Ingeniería Electrónica, por lo que podríamos decir que soy 
                algo entusiasta.</p>
        </span>
    </div>
</div>