.row{
    padding: 20px;
}

.experiencia{
    font-family: "agenor";
    color: blueviolet;
    font-size: 2rem;
    padding-left: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    letter-spacing: 5px;
}

div{
    background: black;
    color: white;
    font-family: "montserrat";
}

.trabajos h1{
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    border: blueviolet 2px solid;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

.trabajos h3{
    font-size: 1.2rem;
    color: grey;
    display: inline-block;
}

.trabajos p{
    text-align: justify;
}