<div class="row">
    <h1 class="experiencia">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 trabajos">
        <ul>
            <li><h1>Polimetal Procesos SA</h1> - <h3>(2019-2020)</h3></li>
            <p>Mi trabajo consistió en tratar con clientes de diversas industrias y realizar planos de piezas, plegados y modelado 3D según las especificaciones brindadas.</p>
            <li><h1>Freelancer</h1> - <h3>(2020-2022)</h3></li>
            <p>Diseñadora 2D y 3D en diversas industrias. Aprendiendo a trabajar sola y tratar con clientes.</p>
        </ul>

    </div>

</div>