<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [radius]="60"
        [backgroundPadding]="5"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'black'"
        [titleColor]="'#fefefe'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [title]="'HTML'"
        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"
        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"
        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [radius]="60"
        [backgroundPadding]="5"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'black'"
        [titleColor]="'#fefefe'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [title]="'CSS'"
        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"
        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"
        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [radius]="60"
        [backgroundPadding]="5"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'black'"
        [titleColor]="'#fefefe'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [title]="'JavaScript'"
        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"
        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"
        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [radius]="60"
        [backgroundPadding]="5"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'black'"
        [titleColor]="'#fefefe'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [title]="'UX'"
        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"
        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"
        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [radius]="60"
        [backgroundPadding]="5"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'black'"
        [titleColor]="'#fefefe'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [title]="'#C'"
        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"
        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"
        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"

        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [radius]="60"
        [backgroundPadding]="5"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'black'"
        [titleColor]="'#fefefe'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [title]="'#C++'"
        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"
        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"
        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"

        ></circle-progress>
    </div>

</div>