<div class="row">
    <h1 class="titulo">PROYECTOS</h1>
    <div class="contenedor">
        <div class="uno">
            <h1>Titulo 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae provident dolor, 
            aut non aliquid vero qui ducimus voluptate error aperiam et quam fuga tenetur consequatur omnis 
            incidunt beatae asperiores!</p>
        </div>
        <div class="dos">
            <h1>Titulo 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae provident dolor, 
            aut non aliquid vero qui ducimus voluptate error aperiam et quam fuga tenetur consequatur omnis 
            incidunt beatae asperiores!</p>
        </div>
    </div>
</div>