<div class="row">
    <h1 class="estudios-titulo">Formación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 estudios">
        <ul>
            <li><h1>Técnica Electromecánica</h1> - <h3>(2012-2018)</h3></li>
            <p>Instituto La Salle San Martin.</p>
            <li><h1>Ingeniería electrónica</h1> - <h3>Actualidad</h3></li>
            <p>Cursando el 3° año de la carrera en UTN FRH. </p>
            <li><h1>Diseño de experiencia de usuario (UX)</h1> - <h3>Actualidad</h3></li>
            <p>Certificación profesional de Google.<br>Capacitada para llevar a cabo investigaciones, aplicar cada paso del proceso de diseño UX para crear diseños centrados en el usuario, desarrollar esquemas, maquetas, mapas y prototipos de alta y baja fidelidad en Figma y Adobe XD, modificar diseños en función de las conclusiones de la investigación.</p>
            <li><h1>Yo Programo</h1> - <h3>Actualidad</h3></li>
            <p>Desarrolladora Web Full-Stack Jr certificada por el Ministerio de Economía y la Cámara de la Industria Argentina del Software (CESSI). </p>
        </ul>

    </div>

</div>